<p>cliente-index works!</p>

<nav>
    <a routerLink="/clienteform" routerLinkActive="active">New Client</a>
</nav>

<div *ngFor="let d of list">
    <span>
        {{d.nombre}}
    </span>
    <span>
        {{d.apellido}}
    </span>
    <span>
        <a routerLink="/clienteform/{{d.id}}" routerLinkActive="active">Edit Client</a>
    </span>
    <span>
        <button class="button-red" (click)="delete(d.id)">Delete Client</button>
    </span>
</div>
<h2>Product Details</h2>

<div *ngIf="d">
  <h3>{{ d.name }}</h3>
  <h4>{{ d.price | currency }}</h4>
  <p>{{ d.description }}</p>

</div>
