<nav>
    <a routerLink="/personaform" routerLinkActive="active">New Persona</a>
</nav>

<div *ngFor="let d of list">
    <span>
        {{d.personaID}}
    </span>
    <span>
        {{d.nombre}}
    </span>
    <span>
        {{d.ap_paterno}}
    </span>
    <span>
        {{d.ap_materno}}
    </span>
    <span>
        {{d.celular}}
    </span>
    <span>
        {{d.domicilio_actual}}
    </span>
    <span>
        {{d.imagen}}
    </span>
    <span>
        <a routerLink="/personaform/{{d.id}}" routerLinkActive="active">Edit Client</a>
    </span>
    <span>
        <button class="button-red" (click)="delete(d.id)">Delete Client</button>
    </span>
</div>

