<p>cart works!</p>
<h3>CLient</h3>
<form [formGroup]="clienteForm" (ngSubmit)="save()">
    <div [hidden]="false">
        <input type="text" formControlName="id" name="id" id="id">
    </div>
    <label>
        Nombre:
        <input type="text" formControlName="nombre" required id="nombre" name="nombre">
        <div [hidden]="clienteForm.get('nombre').valid || 
        clienteForm.get('nombre').pristine" class="alert alert-danger">
            Nombre is required
        </div>
    </label> <br>
    <label>
        Apellido:
        <input type="text" formControlName="apellido" id="apellido" name="apellido">
        <div [hidden]="clienteForm.get('apellido').valid || 
        clienteForm.get('apellido').pristine" class="alert alert-danger">
            Apellido is required
        </div>
    </label> <br>
    <label>
        Telefono:
        <input type="text" formControlName="telefono" maxlength="9" id="telefono" name="telefono">
    </label><br>
    <label>
        Dirección:
        <input type="text" formControlName="direccion" id="direccion" name="direccion">
    </label> <br>

  <button type="submit" [disabled]="!clienteForm.valid">Submit</button>

</form>
<p>
  Value: {{ clienteForm.value | json }}
</p>